#root {
    padding: 0 2rem;
}

.training-plan,
.db-form,
.workout-form,
.workout-list {
    margin-bottom: 2rem;
}

.workout-form {
    border-top: 1px solid;
    padding: 1rem 0;
}

.workout-form button {
    align-self: flex-start;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
}

.edit-input-field {
    align-items: center;
    margin-bottom: 10px;
}

.input-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-field label {
    flex: 0 0 120px;
    margin-right: 10px;
}

.input-field input,
.input-field select {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.btn-delete {
    background-color: rgb(199, 57, 57);
}

.btn-delete:hover {
    background-color: rgb(158, 45, 45);
}

.btn-edit {
    background-color: rgb(67, 67, 207);
}

.btn-edit:hover {
    background-color: rgb(37, 37, 170);
}

/* .db-form, */
.total-metrics {
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.total-metrics p {
    margin: 5px 0;
    font-weight: bold;
}

.workout-list {
    list-style-type: none;
    padding: 0;
}

.workout-list li {
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sort-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sort-section select,
.search-section input {
    margin-right: 10px;
}
